html,
body {
  height: 100vh;
  background-color: rgba(3, 7, 18, 1);
  color: white;
  text-align: center;
  font-family: "Noto Sans JP", "sans-serif";
}
@font-face {
  src: url("../resources/fonts/NotoSansJP-Regular.woff") format("woff");
  font-family: "Noto Sans JP";
  font-style: normal;
  font-display: swap;
}
a[href^="mailto:"] {
  color: inherit; /* リンクの色を親要素と同じにする */
  text-decoration: none; /* 下線を消す */
}

.logoimg {
  width: 20vw;
  margin: auto;
  height: auto;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5vw;
  width: 100%;
  font-weight: 500;
  font-style: normal;
}

.headerLink {
  font-size: 4vw;
  width: 100%;
  text-decoration: none;
  color: white;
}

/* #mainCanvas {
  height: 35vh;
} */

.section {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.discription{
    width: 80%;
    margin: auto;
    font-size: 1.5vw;
    line-height: 2.5vw;
}

@media screen and (min-width: 768px) {

  header {
    height: 10vw;
  }

  .headerLink {
    font-size: 2vw;
    width: 100%;
    text-decoration: none;
  }
  #mainCanvas {
    height: 55vh;
  }
}
