html,
body {
  background-color: rgba(3, 7, 18, 1);
  color: white;
  font-family: "Noto Sans JP", "sans-serif";
}
@font-face {
    src: url("../resources/fonts/NotoSansJP-Regular.woff") format("woff");
    font-family: "Noto Sans JP";
    font-style: normal;
    font-display: swap;
  }
:target {
  scroll-margin-top: 10vw;
}
a[href^="mailto:"] {
  color: inherit; /* リンクの色を親要素と同じにする */
  text-decoration: none; /* 下線を消す */
}
h1 {
    font-size: 5rem;
    margin: 1rem;
  }

  p {
    font-size: 1.5rem;
    color: gray;
    margin: 1rem;
    font-weight: 700;
  }

  .sp{
    display: none;
  }
.logoImg {
  width: 25vw;
  margin: auto;
  height: auto;
}

header {
  display: flex;
  background-color: rgba(3, 7, 18, 1);
  justify-content: space-around;
  align-items: center;
  height: 10vw;
  width: 100%;
  font-weight: 700;
  position: fixed; /* ヘッダーを固定 */
  top: 0; /* ビューポートの上端から0の位置に */
  left: 0; /* ビューポートの左端から0の位置に */
  z-index: 1000; /* 他の要素より前面に表示 */
}

.headerLink {
font-size: 2rem;
  width: 100%;
  text-decoration: none;
  color: white;
}

/* #mainCanvas {
  height: 35vh;
} */

.section {
  height: 100vh;
  width: 90%;
  display: flex;
  align-items: center;
  margin: auto;
  border-top-style: solid;
  border-top-width: 1px;
}


#hero {
  background-color: rgba(3, 7, 18, 1);
  border-radius: 30px;
  padding: 1rem;
}

.heroSpan {
    font-family: 'Times New Roman', Times, serif;
  font-size: 13rem;
  font-style: inherit;
}
.heroSection {
  background-size: 80%;
}

#about {
  margin: 1rem;
  background-color: rgba(3, 7, 18, 1);
}
#works {
  margin: 1rem;
  background-color: rgba(3, 7, 18, 1);
}
#contact {
  margin: 1rem;
  background-color: rgba(3, 7, 18, 1);
}
.contactSection {
  height: 40vw;
}
@media screen and (max-width: 768px) {
  header {
    height: 10vw;
  }

  .headerLink {
    font-size: 1rem;
  }
  /* #mainCanvas {
    height: 55vh;
  } */

  h1 {
    font-size: 4rem;
  }
}
