html,
body {
  height: 100vh;
  background-color: rgba(3, 7, 18, 1);
  color: white;
  text-align: center;
    font-family: "Noto Sans JP", "sans-serif";
}
@font-face {
    src: url("../resources/fonts/NotoSansJP-Regular.woff") format("woff");
    font-family: "Noto Sans JP";
    font-style: normal;
    font-display: swap;
  }

.logoimg {
  width: 90%;
  margin: auto;
  height: auto;
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vw;
  width: 100%;
  font-weight: 700;
  font-style: normal;
}

.headerLink {
  font-size: 4vw;
  width: 100%;
  text-decoration: none;
  color: white;
}

#mainCanvas {
  height: 35vh;
}

.heroMessage {
  font-weight: 200;
  font-style: normal;
  font-size: 4vw;
}

.herod {
  text-align: center;
}


@media screen and (min-width: 768px) {

  .logoimg {
    width: auto;
    height: 10vh;
    margin: auto;
  }

  header {
    height: 5vw;
  }

  .headerLink {
    font-size: 2vw;
    width: 100%;
    text-decoration: none;
  }
  #mainCanvas {
    height: 55vh;
  }

  .herod {
    height: 13vh;
  }
}
