header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    font-family: gill-sans-nova-inline, sans-serif;
    font-size: 50px;
    font-weight: 700;
    font-style: normal;
    border: solid 1px black;
}


a {
    text-decoration: none;
    color: black;
}

.img {
    width: 500px;
    margin: 100px auto;
}

h1 {
    text-align: center;
    font-family: heisei-maru-gothic-std, sans-serif;
    font-weight: 800;
    font-style: normal;
}
