

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    width: 100%;
    font-family: 'ColfaxAI',sans-serif;

    font-weight: 700;
    font-style: normal;
}


#main_canvas{
    height: 300px;
}


a {
    font-size: 4vw;
    width: 100%;
    text-decoration: none;
    color: black;
}


img{
    width: 90%;
    z-index: 999;
    position: relative;
    top: -300px;

}

.img{
    text-align: center;
}
.heroMessage {
    font-family: 'ColfaxAI';
    font-weight: 800;
    font-style: normal;
    color: black;
    font-size: 6vw;
    display: inline;
    position: relative;
    top: -100px;
}

.herod{
    text-align: center;    
}
